bertopic==0.14.1
bs4==0.0.1
langdetect==1.0.9
matplotlib==3.3.4
nltk==3.5
pandas==1.2.0
pdf2image==1.16.2
Pillow==8.1.0
pytesseract==0.3.10
PyPDF2==3.0.1
scikit-learn==1.2.2
seaborn==0.11.2
sentence_transformers==2.2.2
snowballstemmer==2.1.0
spacy==3.5.2
textract==1.6.5
wordcloud==1.8.2.2
wordfreq==3.0.3
# poppler (https://poppler.freedesktop.org/)
# tesseract (https://github.com/UB-Mannheim/tesseract/wiki)
# for .doc conversion, brew install antiwar or https://github.com/deanmalmgren/textract/issues/194#issuecomment-506065817 for windows
